<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

    <ion-label>
      <ion-icon name="logo-playstation" slot="start"></ion-icon>
      <p>{{lstfilm.id}}</p>
      <p>{{lstfilm.title}}</p>
      <p>{{lstfilm.year}}</p>
      <p>{{lstfilm.genres}}</p>
      <p>{{lstfilm.director}}</p>
      <p>{{lstfilm.actors}}</p>
    </ion-label>
  </ion-item>



</ion-content>